@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,300,600,700,800);

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 100%;
  background: #000000;
  text-align: center;
}

h1 {
  margin: 0;
  padding: 0;
  font-family: 'Raleway';
  font-weight: 400;
  font-size: 2.4em;
  color: #20b2aa;
}

.text1 {
  position: relative;
  top:60px;
}
